@import "../../index.module.scss";

.character-container {
    @include displayFlex(column, center, flex-start, 1rem);
    padding: 2rem 0;
    background-color: #baff39;
    border-radius: 2rem;
    height: 36rem;
    width: 30rem;

    cursor: pointer;

    h3 {
        font-size: 2rem;
        text-align: center;
    }
}

.character-container:hover {
    box-shadow: 2px 5px 15px 2px yellow;
}

.img {
    height: 28rem;
    width: 24rem;
    border-radius: 2rem;
}
